{%- assign page_paths = layout.header_pages -%}
{% unless page_paths %}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
{% endunless %}

<header>
  <div class="menu">
    <ul class="{% if layout.mini %}mini{% endif %}">
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
