
/* Colors broh */
$purp: #998AD3;
$pink: #E494D3;

/**
 * Modifiers & markdown elements
 */
strong {
 color: $pink; 
}

em {
 color: #C2D5A7; 
}

a {
 color: #A3D6D4; 
}

code, .purp {
 color: $purp; 
}

h1.center {
  font-size: 4em; 
  margin: auto; 
  text-align: center; 
}

p.center {
  text-align: center;
}

/**
 * Images
 */
img {
 border-radius: 0.5em; 
}

img.right {
 float: right; 
}

img.center {
 margin: auto; 
 display: block; 
}

img.small {
 width: 20em; 
}

/**
 * Boxes and things
 */
a.wrapper:hover {
  background-color: var(--background-color);
  color: var(--base-color);
}

div.account-item {
  display: inline-block;
}

pre.ascii-art {
  line-height: 100%;
  display: inline-block;
  padding: 0.5em;
}

.center-wrapper {
  text-align: center;
}

.hidden {
  display: none;
}

div.project {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

img.project-img {
  margin: 1em;
}

div.project-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.project-links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

div.project-links > a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.5em;
  color: $pink;
}

h3.project-title {
  color: $purp;
  margin: 0;
}

h4.project-tagline {
  font-style: italic;
  margin: 0;
}


@media screen and (min-width: 800px) {
  div.project.left {
    flex-direction: row;
  }

  div.project.right {
    flex-direction: row-reverse;
  }

  div.project-header {
    flex-direction: row; 
  }

  div.project-links {
    width: 40%;
  }
}

