$purp: #998AD3;

/**
 * Modifiers & markdown elements
 */
strong {
 color: #E494D3; 
}

em {
 color: #C2D5A7; 
}

a {
 color: #A3D6D4; 
}

code, .purp {
 color: $purp; 
}

h1.center {
  font-size: 4em; 
  margin: auto; 
  text-align: center; 
}

p.center {
  text-align: center;
}

/**
 * Images
 */
img {
 border-radius: 0.5em; 
}

img.right {
 float: right; 
}

img.center {
 margin: auto; 
 display: block; 
}

img.small {
 width: 20em; 
}

/**
 * Boxes and things
 */
a.wrapper:hover {
  background-color: var(--background-color);
  color: var(--base-color);
}

div.account-item {
  display: inline-block;
}

pre.ascii-art {
  line-height: 100%;
  display: inline-block;
  padding: 0.5em;
}

.center-wrapper {
  text-align: center;
}

.hidden {
  display: none;
}
