---
layout: page
---

{{ content }}

<div id="projects-list">
{% for proj in site.projects %}
  <div class="project {% cycle "left", "right" %}">
    <img width="150" class="project-img" src="{{ proj.img | relative_url }}"/>
    <div class="project-details">
      <div class="project-header">
        <h3 class="project-title">{{ proj.title }}</h3>
        <div class="project-links">
          {% if proj.github != "" %}<a class="project-github" href="{{ proj.github }}">&roarr; github</a>{% endif %}
          {% if proj.live != "" %}<a class="project-live" href="{{ proj.live }}">&roarr; check it out!</a>{% endif %}
        </div>
      </div>
      <h4 class="project-tagline">{{ proj.tagline }}</h4>
      <span class="project-desc">{{ proj.desc }}</span>
      <a class="project-homepage" href="{{ proj.permalink | absolute_url }}">read more</a>
    </div>
  </div>
{% endfor %}
</div>
